.card {
  display: flex;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  h3 {
    margin-top: 0;
  }
}
.cardWrap {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  margin-bottom: 20px;
  padding: 20px;
}
.cardData {
  display: flex;
  //align-items: flex-start;
  justify-content: space-between;
}
.cardText {
  flex: 0 0 70%;
}
.backgroundImg {
  flex: 0 0 30%;
  margin-right: 4%;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
    margin-right: 0;
  }
  img {
    height: auto;
    max-width: 100%;
  }
}
.startTime {
  text-decoration: underline;
}
.cardAdditional {
  box-sizing: border-box;
  flex: 0 0 30%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
