.mainNav {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  display: flex;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
  a {
    color: #222;
    display: block;
    padding: 20px 30px;
    text-decoration: none;
  }
  .active {
    text-decoration: underline;
  }
}
