.container {
  padding: 15px 15px 15px 64px;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(0,0,0,.65);
  line-height: 1.5;
  width: 100%;
  min-height: 30px;
}

.title {
  font-size: 15px;
  color: rgba(0,0,0,.85);
  display: block;
  margin-bottom: 4px;
}

.icon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 16px;
  left: 24px;
}

.success {
  border: 1px solid #b7eb8f;
  background-color: #f6ffed;
}

.error {
  border: 1px solid #ffa39e;
  background-color: #fff1f0;
}

.warning {
  border: 1px solid #ffe58f;
  background-color: #fffbe6;
}

.info {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;
}
