.footer {
  margin-top: 20px;
}
.footerContent {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hoursWrap {
  display: flex;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
}
.hour, .activeHour {
  border: 1px solid #999;
  padding: 20px;
  &:not(:first-child) {
    margin-left: -1px;
  }
}
.activeHour {
  color: #fff;
  background: #999;
}
.formPlaces {
  label {
    display: block;
    margin-bottom: 10px;
  }
  input {
    padding: 5px 10px;
  }
}
