.star, .starEmpty {
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;
  border-right:  .3em solid transparent;
  display: inline-block;
  font-size: 15px;
  height: 0;
  margin-bottom: 1.2em;
  margin-left: .9em;
  margin-right: .9em;
  position: relative;
  text-indent: -999em;
  width: 0;
  &::before, &::after {
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;
    border-right:  1em solid transparent;
    content: '';
    display: block;
    height: 0;
    left: -1em;
    position: absolute;
    top: .6em;
    transform: rotate(-35deg);
    width: 0;
  }
  &::after {
    transform: rotate(35deg);
  }
}
.starEmpty {
  border-bottom: .7em  solid #eee;
  &::before, &::after {
    border-bottom: .7em  solid #eee;
  }
}
