.cardWrap {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  margin-bottom: 20px;
  padding: 20px;
}
.btn {
  background: #EEEEEE;
  border: 0;
  box-shadow: 2px 2px rgba(0,0,0,.5);
  font-size: 18px;
  padding: 8px 20px;
}
