:global {
  body {
    background-color: #eeeeee;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 0;
    margin: 0;
  }
}

.container {
  // display: flex;
  max-width: 1250px;
  margin: 0 auto;
  // flex-wrap: wrap;
  // margin: 10% auto;
}
